fastapi==0.124.2
pydantic==2.12.5
uvicorn==0.38.0
boto3>=1.42.6
python-dotenv==1.2.1
fastapi-events==0.12.2
mangum==0.19.0
python-jose[cryptography]==3.5.0
requests==2.32.5
email-validator==2.3.0
uuid-v7>=0.1.0